.ColorBox-box {
    width: 150px;
    height: 150px;
}

.ColorBox {
    display: inline-block;
    margin: 10px;
    width: 150px;
    height: 150px;
}
.ColorBox-btn {
    color: rgb(199, 38, 145);
    background-color: rgb(17, 199, 212);
    height: 20px;
    border: 0px;
    border-radius: 8px;
}